.grid{
    background-color: teal;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "h h h h h "
    "sb1 m m m sb2"
    "f f f f f";

}
.content1{
    grid-area: h;
}
.content2{
    grid-area: sb1;
}
.content3{
    grid-area: m;
}
.content5{
    grid-area: f;
}
.grid div{
    border-color: gold;
    background-color: teal;
    border: 1px solid crimson;
    font-size: 30px;
    display: grid;
    justify-content: center;
    align-items: center;



}